.title {
  margin-bottom: 60px;

  font-size: 40px;
  font-weight: 600;
  color: var(--main-text-clr);
}

.left {
  margin-right: auto;
  text-align: left;
}

.right {
  margin-left: auto;
  text-align: right;
}

.center {
  text-align: center;
}

@media screen and (min-width: 480px) {
  .title {
    margin-bottom: 70px;

    font-size: 48px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 90px;

    font-size: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    max-width: 800px;
    margin-bottom: 100px;

    font-size: 76px;
  }
}
