.main {
  padding-top: 130px;
}

@media screen and (min-width: 480px) {
  .main {
    padding-top: 135px;
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding-top: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    padding-top: 185px;
  }
}
