:root {
  --main-bg-clr: #000000;
  --secondary-bg-clr: #040404;
  --stroke-clr: #646464;

  --main-text-clr: #dddddd;
  --secondary-text-clr: #696969;

  --primary-clr: #004b44;

  --box-shadows: 0px 4px 30px 4px rgba(100, 100, 100, 0.25);
  --blur: blur(15px);
  --border-radius: 10px;
  --transition-duration: 250ms;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  width: 8px;

  border-radius: var(--border-radius);
  background-color: var(--secondary-text-clr);
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--main-bg-clr);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}
