.section {
  margin-bottom: 110px;
  padding: 0px 20px 0px 20px;
}

.title {
  max-width: 100%;
  margin-bottom: 65px;

  font-size: 48px;
  font-weight: 600;
  color: var(--main-text-clr);
}

.subTitleWrap {
  border-top: 1px solid var(--stroke-clr);
}

.subTitle {
  padding-top: 30px;

  font-size: 18px;
  color: var(--secondary-text-clr);
}

/* ALT */

.titleAlt {
  margin-bottom: 55px;

  font-size: 24px;
  font-weight: 600;
  color: var(--secondary-text-clr);
  text-align: center;
}

.subTitleWrapAlt {
  border: 0;
}

.subTitleAlt {
  margin-bottom: 80px;

  font-size: 32px;
  font-weight: 600;
  color: var(--main-text-clr);

  text-align: center;
}

@media screen and (min-width: 480px) {
  .section {
    margin-bottom: 140px;
  }

  .title {
    max-width: 440px;
    margin-bottom: 75px;

    font-size: 64px;
  }

  .subTitle {
    padding-top: 35px;

    font-size: 20px;
  }

  /* ALT */

  .subTitleAlt {
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    margin-bottom: 180px;
  }

  .title {
    max-width: 645px;
    margin-bottom: 85px;

    font-size: 84px;
  }

  .subTitle {
    max-width: 670px;
    padding-top: 45px;

    font-size: 22px;
  }

  /* ALT */

  .titleAlt {
    margin-bottom: 65px;

    font-size: 32px;
  }

  .subTitleAlt {
    margin-bottom: 120px;

    font-size: 56px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    margin-bottom: 220px;
    padding: 0px 45px 0px 45px;
  }

  .title {
    margin-bottom: 95px;

    font-size: 96px;
  }

  .subTitle {
    padding-top: 50px;

    font-size: 24px;
  }

  /* ALT */

  .titleAlt {
    margin-bottom: 95px;

    font-size: 36px;
  }

  .subTitleAlt {
    margin-bottom: 140px;

    font-size: 76px;
  }
}
